html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.outer-div {
    width: 600px;
    height: 600px;

    padding: 50px;
    box-sizing: border-box;
}

.inner-div {
    width: 400px;
    height: 400px;
   
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0 auto;
   
}

#container2 {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;

}

#A {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#D {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#C {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#B {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#AA {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#DD {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#CC {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#BB {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}